[2018-06-17 01:30] mysteryx93 opened #2 "MediaPlayerUI.NET"
Thanks for the updates to Mpv.NET!

I think I've finally completed MediaPlayerUI.NET, did a lot of code restructuring. Perhaps you could put a link to it in your project description? You can also test it if you see anything missing. It's working pretty good now.
https://github.com/mysteryx93/MediaPlayerUI.NET

All that's left is to publish to NuGet.

[2018-06-17 07:35] hudec117 commented on #2
No problem, thanks for the suggestions!

Done.

[2018-06-17 07:35] #2 closed

[2018-07-14 04:52] mysteryx93 opened #3 "MediaFinished event not firing"
I see you added a MediaFinished event. However, in my case, the event isn't firing at all.

[2018-07-15 12:58] hudec117 commented on #3
Hiya, I'll look into this.

What properties did you have set? (e.g. KeepOpen, Loop etc?

[2018-07-16 03:53] mysteryx93 commented on #3
Neither are set. MediaUnloaded is fired but MediaFinishes isn't,

[2018-07-16 14:57] hudec117 commented on #3
The problem seemed to be that when KeepOpen was set to No and the media unloaded, only the MediaUnloaded event would be invoked. I've changed it to also invoke MediaFinished in this case.

[2018-07-27 01:33] mysteryx93 commented on #3
OK but you haven't committed your changes yet? eofReachedUserData is called but eventProperty.DataString is null instead of containing "yes"

[2018-07-27 09:01] hudec117 commented on #3
I cannot seem to replicate this, could you provide more detail?

I can release what I've pushed to dev as 0.7.1 if you like.

[2018-08-17 21:29] hudec117 commented on #3
@mysteryx93 are you still having this issue? If so, please provide more detail.

[2018-12-19 14:36] hudec117 commented on #3
Failed to re-produce and no reply.

[2018-12-19 14:36] #3 closed

[2019-03-11 01:48] stax76 opened #5 "the project name was already in use since two years..."
the project name was already in use since two years...

https://github.com/stax76/mpv.net

[2019-03-12 17:12] hudec117 commented on #5
Hi,

I'll look into what I can rename the project to. In the meantime, any ideas?

[2019-03-12 22:29] stax76 commented on #5
My player is more or less finished and I'm happy with it except I would like to have python scripting using the latest cpython, unfortunately I'm not good in python and C++ so it's gonna be hard if I follow that goal.

What are your goals? It seems there is quite a bit work to do to make it a complete player, I only found two samples that hardly do anything except playing a file. Are you gonna use

[2019-03-13 08:09] hudec117 commented on #5
My player was not created to be a full usable application like yours. It's meant to be used more like an API - providing an easy way to introduce a video player into other people's applications. More like a re-usable component/user control.

Because of this distinction, it would probably be appropriate to rename my project so it does not clash with yours, any ideas on what it could be called?

[2019-03-13 14:14] stax76 commented on #5
libmpv.net?

[2019-03-13 16:13] hudec117 commented on #5
Yeah something along those lines. I'll assess what will have to be changed and start making changes as soon as I have time.

[2019-04-17 03:57] premingiet opened #6 "Player window not disposed when launched from child window"
when i launch the player window from another window, after i once close the player window, its not launching again. whats the issue ?

[2019-04-17 09:27] premingiet commented on #6
okay i fixed it myself, it was a mistake on my side.

[2019-04-17 09:27] #6 closed

[2019-04-17 12:58] premingiet opened #7 "IsPlaying bool not working properly if using youtube-dl and playing online file"
As online files buffer too, so most of time isplaying gives me wrong boolean value.
 i am actually changing the "play pause" button image and if media is buffering and i click the play-pause button, so based on IsPlaying value, it changes the image.

is there any event i can subscribe to, like media is buffering or frame is rendering or something like that ?

[2019-04-19 15:25] hudec117 commented on #7
Hello @premingiet,

Currently, there is no feature to support this.

Looking at mpv.io documentation, there exist several properties which I believe would allow the detection of "buffering". I will experiment with this and get back to you. e.g. https://mpv.io/manual/stable/#command-interface-paused-for-cache

[2019-04-19 16:20] premingiet commented on #7
okay sure

[2019-04-19 17:35] hudec117 commented on #7
While I look into this, could you confirm if the "MpvPlayer.MediaPaused" event is raised when the video buffers?

[2019-04-19 20:23] hudec117 commented on #7
I've added a `IsPausedForCache` and `CacheDuration` properties. Also added `MediaStartedBuffering` and `MediaEndedBuffering` events.

I will release a 1.1.0-beta version in the next few days for you to test.

[2019-04-20 00:58] premingiet commented on #7
oh just seeing your message. Great, those events will be perfect for my application. Thanks. I will be waiting for the next beta version release.

[2019-04-21 14:39] hudec117 commented on #7
Beta release available here: https://github.com/hudec117/Mpv.NET/releases/tag/v1.1.0-beta

[2019-04-22 07:11] premingiet commented on #7
nice i will give that a go now

[2019-04-26 07:08] hudec117 commented on #7
Hello, do the events/properties work for your purposes?

[2019-04-26 10:09] premingiet commented on #7
I was changing few other parts of my application code, by tomorrow i will test that code for player. And let you know by tomorrow.

[2019-05-09 14:59] stax76 commented on #5
You can rename your project in the project settings.

https://github.com/stax76/mpv.net/issues/18

[2019-05-09 15:17] mysteryx93 opened #8 "MediaLoaded event delays when loading multiple files"
If I'm opening up 20 audio files at the same time, the first 8 files open right away, then each additional file gets the MediaLoaded event fired one per second, so it takes 12 seconds until the players are properly initiated. However, the file position shows they all started playing right away, but MediaLoaded is delaying.

What could be causing such a delay? Playback is working but it's screwing

[2019-05-11 04:33] mysteryx93 commented on #8
After looking into the code, this bug is related to MPV itself so not much you can do on your side. I have [submitted a ticket here](https://github.com/mpv-player/mpv/issues/6705)

[2019-05-25 08:05] #8 closed

[2019-05-30 10:46] leichenxu opened #9 "adding new function to mpv"
hi, i am a beginner user in c#, and i am trying to add functions for play next frame and previous frame in your mpv code, is there anyway to do it? sorry for my bad english

[2019-05-30 15:52] hudec117 commented on #7
Hello, any update on this?

[2019-05-31 17:52] hudec117 commented on #9
Hello @leichenxu, yes there is.
In the mpv manual there are 2 commands, [`frame-step`](https://mpv.io/manual/stable/#command-interface-frame-step) and [`frame-back-step`](https://mpv.io/manual/stable/#command-interface-frame-step). These are not implemented at the moment but you're more than welcome to try.

Use [this ](https://github.com/hudec117/Mpv.NET/blob/master/src/Mpv.NET/Player/MpvPlayer.c

[2019-05-31 17:57] hudec117 commented on #5
Hiya @stax76, I've renamed the project. Unfortunately I cannot rename the nuget package as those are immutable. I will also add a note to the README for your project.

[2019-06-03 07:58] leichenxu commented on #9
ok, thank you very much, i will try it

[2019-06-03 09:42] leichenxu commented on #9
hi again, thank you very much, i just use mpv.Command("frame-step") and actually worked, thanks

[2019-06-07 10:05] hudec117 commented on #5
Hello @stax76, are you satisfied with this?

[2019-06-07 10:05] hudec117 commented on #9
Hello @leichenxu I will be releasing 1.1.0 soon. I will implement frame stepping methods into this release.

[2019-06-07 10:05] #9 closed

[2019-06-07 10:06] hudec117 commented on #7
Tested by myself, no response from premingiet. Closing.

[2019-06-07 10:06] #7 closed

[2019-06-07 10:49] leichenxu commented on #9
ok, thanks for the help, and i have something to say if this may help you in your new version,

`/// <summary>
		/// Show next frame.
		/// </summary>
		public void NextFrame()
        {
            lock (mpvLock)
            {
                mpv.Command("frame-step");
                IsPlaying = false;
            }
        }
        /// <summary>
		/// Show back frame.
		/// </summary>
		public

[2019-06-07 14:25] stax76 commented on #5
Hi, it's OK.

[2019-06-07 14:49] #5 closed

[2019-06-26 07:29] mysteryx93 opened #10 "ArgumentException: Invalid string value for yes/no property."
Lately I'm getting this error when stopping playback. Can't say exactly when this error started happening. I just updated to the latest version of MPV and the problem persists.

This occurs in MpvOnPropertyChange, case eofReachedUserData

eventProperty.DataString is null which is why it crashes.

	public static bool YesNoToBool(string yesNoString)
	{
		switch (yesNoString)
		{
			case "yes":
				r

[2019-06-26 07:38] mysteryx93 opened #11 "Error when exiting WPF app with more than 1 instance running"
When existing a WPF application with more than 1 instance of MPV running, I get this error

[2019-07-06 12:07] hudec117 commented on #10
Hello @mysteryx93,

Could you please confirm which version you updated to? Also, where you got the .dll from?

Currently the reason why DataString would be null is because the internal mpv format of the data was set to something other than "string" or no the pointer to the data was zero. Currently, I'm unable to replicate in the example app.

[2019-07-21 18:09] hudec117 commented on #11
Hello @mysteryx93

I have been able to re-produce the first error you mentioned. The exception your are seeing is raised by the Managed Debugging Assistant ([MDA](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/disconnectedcontext-mda)) which is used to find errors when transitioning between managed/unmanaged code. I found that closing an app with 2 instances of mpv **without

[2019-07-21 18:44] hudec117 commented on #9
@leichenxu frame stepping added in version 1.1.0

[2019-07-22 07:11] mysteryx93 opened #12 "Process Hangs on Exit"
Other times, instead of giving that error, the process doesn't exit and instead hangs on eventLoopTask.Wait() with this stack trace

[code]

[2019-07-22 07:12] mysteryx93 commented on #11
moved it into a separate issue

[2019-07-26 11:30] hudec117 commented on #12
Hello @mysteryx93,

Could you please provide repro steps for this?

[2019-07-29 04:05] mysteryx93 commented on #12
Did you change this in the latest release? After updating, I'm seeing different behavior. Now, when running with the debugger, it crashes every time on exit, and when running without debugger, it always exits properly so I'm not able to see it hang anymore.

[2019-07-29 04:08] mysteryx93 commented on #12
If you start more than 9 instances, the other instances will load 1 instance per second; if you exit by the time it's all loaded, it hangs and never exits.

[2019-07-30 06:04] mysteryx93 opened #13 "Crash on Stop"
In some cases when playback stops, MPV returns null instead of a boolean and it crashes at MpvPlayerHelper.YesNoToBool

You'd have to change it this way:

[code]

[2019-08-05 11:56] leichenxu opened #14 "cannot run --external-file,--lavfi-complex command"
hi, i am trying to display multiple video in one mpv, but i am not able to run --external-file,--lavfi-complex  this two command, i try with SetPropertyString but no work, also tried with change path to the command line, but not work too, hope get some help, thanks

[2019-08-06 03:43] mysteryx93 commented on #13
I'll close this one because it's a duplicate of another issue I had posted before

[2019-08-06 03:43] #13 closed

[2019-08-06 08:11] leichenxu commented on #14
i have been trying to use other commands, use --external-files work, but --lavfi-complex still dont work

[2019-08-06 08:16] leichenxu commented on #14
i am trying to run comman like this
.\mpv.com video1.mp4 --external-file video1.mp4 --external-file video1.mp4  --external-files video1.mp4 --lavfi-complex '[vid1] [vid2] hstack [t1];[vid3] [vid4] hstack [t2];[t1] [t2] vstack [vo]'

[2019-08-25 13:54] mysteryx93 commented on #10
Could it be this happens on audio files? It's happening all the time with my audio player and doesn't happen for you with video, this could be the reason.

[2019-09-08 11:17] OneB1t opened #15 "OSC option is not working correctly"
helllo

i have following options for MPV (other are working fine)

            player.API.SetOptionString("vo", "gpu"); // hwdecoder enabled
            player.API.SetOptionString("hwdec", "auto"); // hwdecoder enabled
            player.API.SetOptionString("aid", "no"); // disable audio track
            player.API.SetOptionString("interpolation", "yes");
            player.API.SetOptionString("v

[2019-09-15 03:37] HubKing opened #16 "How to show/hide the in-built on-screen UI controls?"
I embedded Mpv.NET into a Windows Form. It works, but it has no UI controls for the video (seekbar, stop/play). Mpv has a basic in-built GUI (white one). How to show/hide it? This library has almost no documentation for the methods.

[2019-09-18 16:13] DaZiYuan commented on #10
![image](https://user-images.githubusercontent.com/80653/65165643-c7d07d80-da71-11e9-8fe1-69ec9fd6e88d.png)

it seems play video twice then call stop and dispose player can reporduce this issue.
not sure
[code]

[2019-09-18 16:20] mysteryx93 commented on #10
Oh right I'm playing on loop!

[2019-09-18 16:42] DaZiYuan commented on #10
I just reproduce it
[code]
you need click btn_play twice then click btn_dispose to reproduce this issue.
if just write in a method ,will not crashed.

https://github.com/DaZiYuan/Mpv.NET.lib/blob/master/src/Mpv.NET.WPFExample/MainWindow.xaml.cs

[2019-09-21 06:58] sakib1361 commented on #10
I can confirm that this issue can be reproduced,
Load Media()
Pause/Stop
Load another Media()
Dispose()
=> After the media is loaded. You must wait till MediaLoaded fired. That's why sequencing code like @DaZiYuan mentioned in the second part wont crash. However, if a delay (await Task.Delay(3000)) is put after load, the system crashes saying the stated error.

[2019-09-25 22:24] hudec117 commented on #16
Hello @HubKing

I've been investigating this but sadly to no avail... yet! My findings so far:

- OSC is enabled by setting these properties: osc=yes, osd-level=1 (this will be done internally once this issues is fixed)
- An mpv instance which is **not** embedded (by not specifying a handle in the MpvPlayer constructor) shows the OSC.
- An mpv instance which is embedded will not show the OSC insta

[2019-09-25 22:31] hudec117 commented on #15
Hello @OneB1t

Could you please confirm that the "osc" in the image is the "stats" mpv feature?

[2019-09-25 23:14] hudec117 commented on #14
Hello @leichenxu

Those are properties which can be set using the `SetPropertyString` method through the `API` property on the player.

Like this:
[code]

I'm unfamiliar with the formatting for the lavfi-complex property so I'm unable to help you fix your filter. The filter used in the code above does work which shows the property is set correctly.

[2019-09-26 20:12] hudec117 commented on #10
I am able to replicate this now, thank you for the sample repository @DaZiYuan.

The issue lies in the MpvPlayerHelper.YesNoToBool method (as you probably know), currently it's written so that any input which is not **specifically** "yes" or "no" will lead to an exception. Looking at it now, this is badly designed, I am simplifying it to a simple `return yesNoString == "yes";` This will ensure tha

[2019-09-27 10:28] hudec117 commented on #16
Hello @HubKing, I now understand why the OSC does not work correctly. The mpv player is not receiving mouse events that would trigger the OSC (and allow us to interact with it), this was done purposefully by mpv to allow applications which embed mpv to implement their own event handlers.

That said, it is possible to forward the events onto mpv from your application. I would refer you to this code

[2019-09-27 11:18] #14 closed

[2019-09-27 11:20] hudec117 commented on #15
Hello @OneB1t, there is a similar issue which I've investigated and will likely be the root cause of this as well: https://github.com/hudec117/Mpv.NET.lib/issues/16

[2019-09-27 12:29] OneB1t commented on #15
I think that MPV.net must have some workaround so its working for them its not critical for me but it will be nice to see this more complex statistics

[2019-09-27 15:44] hudec117 commented on #15
From the issue I linked:

From this you can see they overrode the WndProc method and forwarded the appropriate messages to mpv.

So yes, there is a workaround but I have to figure out how it could be implemented since the workaround is dependent on the Window's message queue.

[2019-10-19 04:26] mysteryx93 commented on #10
When are you going to release an updated version with this fix?

[2019-10-19 11:18] hudec117 commented on #10
Release 1.1.1 now available: https://github.com/hudec117/Mpv.NET-lib-/releases/tag/v1.1.1

[2019-10-19 21:25] Fantoom opened #17 "How can I use config file with MpvPlayer"

[2019-10-20 10:31] Fantoom commented on #17
I have added
[code]

to Mpv.NET.Player.MpvPlayer and it worked.

[2019-10-20 12:52] hudec117 commented on #17
Hello @Fantoom,

I will include this feature in the next release of Mpv.NET. In the meantime, a workaround that does not require re-compilation of the latest release is:
[code]
The "API" property on the player is a reference to an instance of the "Mpv" class that is being used by the player.

[2019-10-20 12:52] #17 closed

[2019-10-20 12:54] #10 closed

[2019-10-27 12:32] HubKing commented on #16
I am sorry for the late reply. Thank you for your investigation on this issue, Hudec. I could just copy & paste the code you have linked.

[2019-10-28 08:51] hudec117 commented on #16
Hello @HubKing, I think that would be your best bet in the short-term. I don't know when I will find the time to try and implement this natively within the library. I'll keep this ticket open and update it when I make any progress.

[2019-11-23 15:10] JassyPinkman opened #18 "Help me to find soundtrack name in movie"
In the documentation I could find how to switch the audio tracks, but I can not find a description of these tracks, that is, what language and what kind of voice acting in general. To switch, I use the property "aid" and set its value to 0, 1 or 2. I will be very grateful for the help.

[2019-12-03 13:49] #18 closed

[2019-12-20 09:51] OneB1t commented on #11
any progress on this? i think i'm encountering same problem when running 2 videos at same time

[2019-12-20 19:11] hudec117 commented on #11
Hi @OneB1t,

I'll take a look over the holidays. : )

In the meantime, could you please confirm if you're seeing this exception when you launch **without** debugging?

[2019-12-21 07:55] mysteryx93 commented on #11
When using more than 1 instance, there are other bugs, but these seem to come from the MPV library itself. The bug has been reproduced but nobody has looked into it yet.

If you load 20 instances, 10 load immediately, then only 1 per second. That's the first bug.

Second bug is that if you close the window before all 20 instances are loaded, it freezes. However, this only happens if we call Dispos

[2019-12-29 07:33] GongKuiJun opened #19 "A problem about mpv.net"
**Mpv.NET (lib) Version**
1.1.1
**Describe the bug**
I can't change "- no keepsaspect, -- keepsaspect"

I want to know how I need to modify it

[2020-02-04 15:03] sakalukc opened #20 "Memory usage"
Using version 1.1.1 with C# Visual Studio 2017.

I have doing some testing with this library to view an rtsp feed, and it all works great.  But memory just keeps creeping with a simple rtsp feed.

Here is my code simplified:

MpvPlayer player = new MpvPlayer(Panel.Handle)
{
Loop = true;
}
player.Load("rtsp feed url");
player.Resume();

Thats essentially it.  The memory usage creeps up about 5K eve

[2020-03-09 22:50] mczarnek opened #21 "Can't set property "--no-correct-pts""
I'm trying to set a property using mpvPlayer.API.SetProperty, like this:
mpvPlayer.API.SetProperty("no-correct-pts", new byte[] { 1 }, MpvFormat.Flag);

I'm being told that "no-correct-pts" is an invalid property. Throwing a Mpv.NET.API.MpvError.PropertyNotFound Exception, error message:
Mpv.NET.API.MpvAPIException: 'Error occured: "property not found".'

Does it have something to do with the use

[2020-03-10 15:08] mczarnek commented on #21
Fixed it with help from the official mpv team, I disabled vsync using these options and one of them did the trick:
mpvPlayer.API.SetPropertyLong("opengl-swapinterval", 0) and mpvPlayer.API.SetPropertyString("vulkan-swap-mode", "immediate")

Hope it helps someone else.

[2020-03-10 15:08] #21 closed

[2020-04-01 18:06] hudec117 commented on #19
Please provide steps to reproduce the error and the actual and expected results.

[2020-04-14 00:27] satpowers opened #22 "Error when initiate player from second form"
**Mpv.NET (lib) Version**
1.1.1

**Describe the bug**
I have Form1 which have a button, on button click it opens form2, in form2 the following code give error.
        public Form2()
        {
            InitializeComponent();
            player = new MpvPlayer(Panel1.Handle)
            {
                Loop = true,
                Volume = 50
            };
        }

The error is : Failed to

[2020-04-30 04:57] mysteryx93 opened #23 "Any Way to Alter Audio with NAudio?"
I'm considering the idea of redesigning a 432hz Media Player to use NAudio to shift the pitch at runtime... do you see any way I could hook into MPV.NET to let it play the video and alter the audio?

One option could be to play the video with MPV and audio with NAudio separately.

There are 2 main problems I'm seeing.

1st, keeping audio and video in sync.

2nd, audio codec support. MPV supports m

[2020-04-30 21:35] mysteryx93 commented on #23
Looking into NAudio, I don't think this is possible nor related.

[2020-04-30 21:35] #23 closed

[2020-05-06 02:49] mysteryx93 opened #24 "How to Configure MPV"
MPV supports resampling the audio using this command-line syntax

    --af=rubberband=pitch-scale=0.981818181818181

How can I configure this (or add any other filters) through Mpv.NET?

[2020-05-13 22:52] mysteryx93 commented on #24
Found the solution here
https://github.com/mpv-player/mpv/blob/master/libmpv/client.h#L1128

SetPropertyString("af", "rubberband=pitch-scale=0.981818181818181")

[2020-05-13 22:52] #24 closed

[2020-07-02 16:24] DaZiYuan opened #25 "System.AccessViolationException"
**Mpv.NET (lib) Version**
The version of Mpv.NET (lib) you are using when encountering the problem.
1.1.1
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/80653/86384999-234abf80-bcc2-11ea-9566-5acf1f176ad1.png)

Sometimes got exception randomly, I don't know how to reproduce it, debug source code get this image

[2020-12-27 17:46] hudec117 commented on #19
No response to help reproduce issue. Closing issue

[2020-12-27 17:46] #19 closed

[2021-01-02 20:40] iamyourgranny opened #26 "Process hangs on Dispose method"
**Mpv.NET (lib) Version**
The version of Mpv.NET (lib) you are using when encountering the problem.
v1.1.1

**Describe the bug**
A clear and concise description of what the bug is.
I was playing around with the Mpv.Net player in a Winforms program (in the Visual Studio 2019 Community edition on Windows 10) and noticed that when I close the form, it hangs on the player.Dispose() function.

**To Rep

[2021-01-11 12:03] OneB1t commented on #15
This is actually not a bug i just not correctly understanded what is required in order to make it work

to load osc statistics it is required to load external script file

so i included something like this to code in order to achieve it

[code]

Thanks for help :)

[2021-01-11 12:03] #15 closed

[2021-01-11 12:28] OneB1t commented on #15
Ok actually looks like
mpv.Command("script-binding","stats/display-page-1");

is enough to show OSD data but only for 4seconds as there is duration inside lua script... so next issue is to show it forever

[2021-01-12 09:41] OneB1t opened #27 "Memory leak while using hwdec"
Mpv.NET-lib version: 1.1.1

**Describe the bug**
When i use mpv hwdec native memory is not correctly freed up. mpv-1.dll looks to be disposed correctly but some other libraries loaded by this dll are still hanging in memory.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this code to enable hw decoding:
            player.API.SetOptionString("vo", "gpu"); // hwdecoder enabled

[2021-01-15 22:09] SebastianBecker2 commented on #27
I had a similar issue when reading the duration from a video file. (Though I'm not even 100% sure I did that correctly... regardless)

I used the libmpv version 0.33 but when I tried the 0.29 version from this repo, the memory leak was gone.
It turns out, at least for my use-case, the issue started with 0.32, while 0.31 works perfectly fine.

So maybe you could try different versions of libmpv.

[2021-01-16 20:10] SebastianBecker2 opened #28 "Race condition on shutdown"
**Mpv.NET (lib) Version** current master

**Describe the bug**
When the shutdown event is triggered by MPV, the eventLoopTask gets the event and calls MpvEvents::HandleShutdown().

Here is the first issue. It calls functions.TerminateDestroy(handle) which destroys the handle. And it then calls eventLoop::Stop() which tries to call the Functions.Wakeup(mpvHandle) which fails since the handle is des

[2021-01-23 16:22] SebastianBecker2 commented on #27
Update on my issue, in case it's related to yours.

It turned out that it wasn't really a memory leak. The libmpv 0.33 and 0.32 allocated up to ~2 GB of RAM pretty quickly but didn't exceed that limit. I guess it allocated until it reached that limit and then reused it.

I tried compiling libmpv myself using the following flags:
--enable-libmpv-shared --disable-cplayer --enable-lgpl
This had the s

[2021-02-04 21:05] hudec117 commented on #28
Will be released with 1.2.0 in the next week. Will close after release.

[2021-03-01 18:31] hudec117 commented on #28
@SebastianBecker2 1.2.0 released, going to close this issue.

[2021-03-01 18:31] #28 closed

[2021-03-01 18:31] hudec117 commented on #26
@iamyourgranny could you please try downloading the latest 1.2.0 version and try again? May have been fixed by #28

[2021-03-01 18:32] hudec117 commented on #12
@mysteryx93 could you please try downloading the latest 1.2.0 version and try again? May be fixed by #28

[2021-03-01 18:32] hudec117 commented on #11
@mysteryx93 could you please try downloading the latest 1.2.0 version and try again? May have been fixed by #28

[2021-03-08 13:18] ericleroy01 opened #35 "Difference between Mpv.net- lib and Mvp.Net"
Hi,

what difference between your project and https://github.com/stax76/mpv.net ?

what are advantages to use you library ?

(my goal is to use mpv player on xbox platform)
thanks.

PS: Si quelqu'un pouvait echanger avec moi en francais ca serait plus facile :)

[2021-03-08 14:21] hudec117 commented on #35
The project you linked is a fully featured Windows media player that uses mpv and is built using .NET

This project is a library that you can use to add a video player to a WPF or Windows Forms application.

[2021-03-08 14:44] ericleroy01 commented on #35
I understood this project is a library...

I don t give a look to mpv.net source code but player seems to implement all base mpv functionalities and you mentionned is not your case.... so what is your roadmap ?

[2021-03-11 07:43] hudec117 commented on #35
Mpv.NET is specifically designed and created to be a Windows media player. It may implement the same mpv functionalities but the application is meant to be used by people to play media, it's not aimed specifically at developers to develop new applications.

While this library is merely an interface to the C API exposed by the mpv library that is consumable from .NET and is meant to be used by deve

[2021-03-11 13:47] ericleroy01 commented on #35
I attempt to included libmpv in my project based on your work and mpv.net.

My main issue is Window or control handle which does not exist in UWP project.
I tried to use renderGL api but it s required a window/or control handle too.

thanks for your help

[2021-03-11 14:48] #35 closed

[2021-04-07 20:57] jiatao99 opened #36 "How to add an Audio Filter?"
I am trying to change the audio pitch during playback. Like the following:

[code]

However, I always get invalid command exception. I have tried a lot of combination, but nothing works.
[code]

[2021-04-08 11:42] #36 closed

[2021-05-26 06:50] marpit opened #37 "App fails if Dispose is called and new instance of MPV is created after"
**Mpv.NET (lib) Version**
2.0.0.0

**Describe the bug**
I was created two windows, first window contains button, which create new window with new instance of mvp player. If this window is closed, i call stop playing and dispose method. If I click to button in first window again, application fails with error:

`[cplayer] Set property: pause="yes" -> 1
[cplayer] Run command: loadfile, flags=64, args

[2021-06-28 17:57] GrumpyBear57 opened #38 "youtube-dl fails to load video using mpv.net-lib with recent versions of mpvlib/ytdl"
**Mpv.NET (lib) Version**
v1.2.0

**Describe the bug**
I'm unable to get youtube videos to play, in either my own application (which I thought was at fault at first since it's .NET Core 3.1 WPF) or the example application provided in this repo.

I've tested several different combinations of different versions mpvlib, ytdl, and the ytdl-hooks lua script.
- Latest version of each (as of posting)
- V

[2021-07-30 03:18] pubpy2015 opened #39 "How to set aspect ratio, snapshot, get video info ?"
Hi,

can you add some function as set aspect ratio mode (16:9, fit to screen,...), snapshot current video frame and get some information from video as: Resolution, Frame Rate, BitRate ?

[2021-07-30 06:35] songoku141 commented on #39
I found function to set aspect ratio:
player.API.SetPropertyString("video-aspect", panel1.Width + ":" + panel1.Height);

snapshot to file:
player.API.Command("screenshot-to-file", "C:\\1.jpg");

I trying to get snapshot and save it in buffer by this command:
player.API.Command("screenshot");
but I dont know where is data return.
Please help me.

[2021-08-01 21:15] zpmmehrdad commented on #39
@songoku141 Hi,

How can I set the jpeg quality parameter? I used this command
`player.API.Command("screenshot-to-file", "C:\1.jpg", "screenshot-jpeg-quality", "70");`
but I got the invalid parameter error.

Thanks

[2021-08-02 00:51] songoku141 commented on #39
You can try like this:
player.API.SetPropertyLong("screenshot-jpeg-quality", 70);
player.API.Command("screenshot-to-file", "C:\\1.jpg");

[2021-08-02 01:11] pubpy2015 commented on #39
Thanks,

seem don't have command for screenshot to memory:
https://mpv.io/manual/master/#screenshot
close here.

[2021-08-02 01:11] #39 closed

[2021-08-02 04:43] zpmmehrdad commented on #39
@songoku141 Hi,

Thanks for the reply, But when I use this command I get an error:
[code]

Parameter not found

[2021-08-02 07:13] sctrueew opened #40 "Select GPU device"
Hi,

I have two GPUs,

GPU 0: Intel(R)
GPU 1: NVIDIA GeForce GTX 1650

mpv is using GPU 0 but I would like to use GPU 1. How can I set it?

Thanks

[2021-08-03 05:56] marpit commented on #6
How did you solve this?

[2021-08-03 07:26] zpmmehrdad commented on #39
Hi,

Did you try this command?

["screenshot-raw"](https://github.com/mpv-player/mpv/blob/6b828113a89b39888cde6ff89b1ae0f39a0cb4ee/DOCS/man/input.rst)
player.API.Command("screenshot-raw");

But I don't know, How to get the output in memory.

[2021-08-18 14:31] DaZiYuan commented on #27
I encountered the same issue.
if I call player.stop() before playing video, the memory will increase hugely.

![image](https://user-images.githubusercontent.com/80653/129915025-90f8d925-5165-4e13-a999-931e39308e29.png)

I remove that code, the memory increase will slowly. but it still seems to have a little memory leak.

![image](https://user-images.githubusercontent.com/80653/129915409-60037ad9-c

[2021-10-01 17:45] zydjohnHotmail opened #43 "How I can use this repo for .NET 5.0 to play video file"
Hello:
I want to test to see if I can play a video file using the repo for .NET 5.0 on Windows 10.
I have done the following:
1) I created one WinForms App project with Visual Studio 2019 target .NET 5.0
2) I installed MPV.NET nuget package:
PM > Install-Package Mpv.NET -Version 1.2.0

The following is my C# code:
using Mpv.NET.Player;
using System;
using System.Windows.Forms;

namespace MVPNetVid

[2021-10-25 04:20] BluePointLilac opened #44 "Please support .Net Framework!"
Hello, due to the needs of the project, I have to use the .Net Framework for development. Unfortunately, your repository only supports .Net Core and .Net Standard, but fortunately you provided the source code, and I converted the framework by copying the code For the .Net Framework, it compiles perfectly on the frameworks above .Net Framework 4.5, so I sincerely hope that you can add support for t

[2021-10-30 14:14] MIMAXUZ opened #45 "PlaylistMove function doesn't work"
I've using latest version of Mpv.NET and .Net 4.7.2
I've following code:

[code]
But the video isn’t moving anywhere.
It had to go back to the first video on the playlist.
I need back to first video on the playlist. How can i do it?
Thanks!

[2021-11-02 14:32] sudongg commented on #37
I also encountered this problem. The previous problem was a crash after Dispose. After the 1.2.0 version was repaired, this new problem appeared, and a new player instance could not be generated after Dispose.

This problem can be easily reproduced. Copy the code to MainWindow.xaml.cs of the Mpv.NET.WPFExample project. After Dispose, a new player instance will inevitably crash.

[code]

[2021-11-12 15:12] mysteryx93 commented on #40
Normally you use NVIDIA control panel to control what GPU each application uses. Add your app and tell it to use "performance" GPU.

[2021-11-12 15:15] mysteryx93 opened #46 "OpenGL Render API"
Have you done any attempt at integrating MPV using [OpenGL Render API method](https://github.com/mpv-player/mpv-examples/tree/master/libmpv#render-api)?

To port WPF to WinUI 3 or Avalon, you'll need OpenGL integration. Any plan to support this?

[2021-12-04 03:48] ywmoyue opened #47 "How to not open a new Mpv window when playing audio with cover art"
**Mpv.NET (lib) Version**
1.2.0

**Describe the bug**
A new Mpv window will automatically open when playing audio with cover art

**To Reproduce**
[code]

**Expected behavior**
Don't open a new window while playing audio

**Screenshots**
![image](https://user-images.githubusercontent.com/28388300/144695784-882340fe-5113-4e69-b40f-ebceb0b31e9a.png)

[2021-12-19 12:24] hudec117 commented on #43
The above comment will solve your error. If you want .NET 5.0 support please raise a separate issue. Thanks!

[2021-12-19 12:24] #43 closed

[2021-12-19 12:28] hudec117 commented on #40
@mysteryx93 is on the right lines. I found this after a quick Google: https://www.reddit.com/r/mpv/comments/dm9vxy/comment/f512goh/?utm_source=share&utm_medium=web2x&context=3

Try adding your app's executable to NVIDIA control panel and selecting the GPU.

[2021-12-19 12:28] #40 closed

[2021-12-19 12:29] hudec117 commented on #46
I would be open to supporting this but I don't have the bandwidth to implement this, if anyone is interested in implementing this I'd happily accept it.

[2021-12-19 12:32] hudec117 commented on #47
Hello @ywmoyue. Try setting this property:

![image](https://user-images.githubusercontent.com/10981949/146674956-4524e585-9187-4a58-ac8a-fd8de94c951e.png)
https://mpv.io/manual/master/#options-audio-display

[2021-12-19 19:44] mysteryx93 commented on #46
btw I'm moving on to Avalonia for cross-platform support, which may have easier support for OpenGL integration.

So need to kind in mind that such integration would be different for WPF, Avalonia, UWP or WinUI3

Whereas the rest of the library is .NET Standard.

[2021-12-19 19:47] mysteryx93 opened #48 "MediaPlayerUI updated"
I['ve finally updated MediaPlayerUI, this library is used by MediaPlayer.Wpf.Mpv](https://github.com/mysteryx93/MediaPlayerUI.NET)

You could update your doc for an easy way to integrate the player into WPF.

Remains to see how this library will integrate into Avalonia.

[2022-01-04 02:49] #47 closed

[2022-03-10 11:52] hudec117 opened #49 "Contributors wanted!"
Hello everyone!

I developed this library a few years ago for another project of mine. Ever since I completed that project I have not been able to maintain this repository and investigate the issues. I know that a lot of you find this library useful and I want it to continue but I am not able to dedicate time towards it any more.

If anyone is interested in maintaining this repository, reviewing p

[2022-06-02 23:05] mysteryx93 opened #51 "mpv-2.dll"
[As discussed here](https://github.com/stax76/mpv.net/issues/356), `mpv-1.dll` has been renamed to `mpv-2.dll`.

The library should be updated to reflect this change.

Oh. Initialization crashes so it will require a bit more work to fix.

    Mpv.NET.API.MpvAPIException: 'Failed to load Mpv "mpv_detach_destroy" function.'

[2022-06-09 04:49] DJSures opened #52 "Windows Scale Resolution not 100% only 1/4 video is displayed"
**Mpv.NET (lib) Version**
Version 1.2.0
Published Monday, March 1, 2021 (3/1/2021)

**Describe the bug**
If the windows scale resolution is set to a value higher than 100% (i.e. 125%), only part of the video is rendered. This happens when assigning the player to an existing winforms form via the handle, or by allowing MPV to create a window of it's own.

**To Reproduce**
Steps to reproduce the beh

[2022-06-26 01:07] TW2 commented on #51
Go to "Mpv.NET>Player>MpvPlayer.cs" at "possibleLibMpvPaths" constants and replace:

`"mpv-1.dll"` by `"mpv-2.dll"`
`@"lib\mpv-1.dll"` by `@"lib\mpv-2.dll"`

Go to "Mpv.NET>API>MpvFunctions.cs" at "LoadFunctions" declarations and replace as mentionned by the last pull request:

`mpv_detach_destroy` by `mpv_destroy`

Copy a 32bits dll of `mpv-2.dll` and, fortunately, the samples work!

We can now w

[2022-06-28 12:34] hudec117 commented on #44
Mpv.NET targets netstandard2.0 which supports the following implementations
![image](https://user-images.githubusercontent.com/10981949/176174569-a23b4b15-95e7-40a5-b867-50517224b15b.png)
https://dotnet.microsoft.com/en-us/platform/dotnet-standard#versions

In V2 I will try to publish support for .NET **4.5.1**, **4.5.2**, **4.6** and **4.6.1**. There is no official download for the .NET 4.5 SDK s

[2022-07-03 19:36] hudec117 opened #54 "Document migration from V1 to V2"
- [ ] How to upgrade to V2 from V1
- [ ] "mpv-2.dll" changes
- [ ] yt-dlp upgrade
- [ ] Breaking API changes

[2022-07-04 19:40] hudec117 commented on #45
If I understand correctly, you are trying to go back to the first entry in the playlist?

The player has the `PlaylistIndex` property but it does not have a setter, I will add one in version 2.

In the meantime, you can achieve this yourself by doing:
`player.API.SetPropertyLong("playlist-pos", 0);`

[2022-07-04 19:40] #45 closed

[2022-07-04 20:09] hudec117 commented on #52
I cannot replicate this. Could you please confirm the version of libmpv and version of Windows you are using?

[2022-07-04 20:18] hudec117 commented on #38
I know it's been over a year but have you resolved this by any chance?

If not, `youtube-dl` has been superseeded by `yt-dlp` so you could try upgrading to this.

Also, in your log I saw error `[ytdl_hook] youtube-dl failed: not found or not enough permissions` so make sure that the `youtube-dl.exe` or `yt-dlp.exe` are set to be copied to the output directory as per the instructions in the README.

[2022-07-04 21:58] DJSures commented on #52
Oops, forgot to mention that I'm using Windows 10 (21H2).

On Mon, Jul 4, 2022 at 4:09 PM Aurel Hudec ***@***.***> wrote:

[2022-07-04 22:00] DJSures commented on #52
Using mpv-1.dll version 2.0.0.0 from 3/21/2022 for 32-bit on Windows 10
(21H2)

On Mon, Jul 4, 2022 at 4:09 PM Aurel Hudec ***@***.***> wrote:

[2022-07-04 22:01] DJSures commented on #52
![image](https://user-images.githubusercontent.com/49293683/177220546-e4a4792e-d993-449f-a733-edb6fede3689.png)

[2022-07-04 22:45] DJSures commented on #52
Here is a fullscreen screenshot with display scale & layout set to 100%
![image](https://user-images.githubusercontent.com/49293683/177222652-55e3270c-31bd-4212-bca1-d27e70c931b4.png)

Here is the same video with display scale & layout set to 125%
![image](https://user-images.githubusercontent.com/49293683/177222732-2bc7796d-5af6-463b-bb1b-a28f3d032fdb.png)

This is the display setting I'm referri

[2022-07-04 23:31] hudec117 commented on #52
I assume you're using WPF? I still cannot replicate it, even on a really old libmpv version. Would you be able to provide a zip file or repository that replicates this issue?

[2022-07-05 03:05] DJSures commented on #52
I'm using Windows Forms, unfortunately (legacy stuff). Here is a ZIP .net c# project that demonstrates the partial display. Open the Form1.cs and edit the _filename string for your video file: [WindowsFormsApp1.zip](https://github.com/hudec117/Mpv.NET-lib-/files/9042923/WindowsFormsApp1.zip)

[2022-07-05 09:22] hudec117 commented on #52
When I turned off `gdiScaling` in the manifest it seemed to work? Can you try on your end?

[2022-07-05 10:02] hudec117 commented on #46
For anyone interested in implementing the OpenGL render API from mpv, here is an example repository: https://github.com/shodo/MPVCore/blob/master/SDLMpv/SDLMpv/MPV.cs

For now, this will not be implemented unless mpv.io deprecates the embeddeing API.

[2022-07-05 13:11] hudec117 commented on #25
@DaZiYuan does this still happen with the latest version of Mpv.NET and libmpv?

[2022-07-14 13:44] hudec117 opened #55 "Implement libmpv node functions and structures"
Using [client.h](https://github.com/mpv-player/mpv/blob/master/libmpv/client.h) as reference...

Implement these functions
- [ ] `int mpv_command_ret(mpv_handle *ctx, const char **args, mpv_node *result)`
- [ ] `void mpv_free_node_contents(mpv_node *node)`
- [ ] `int mpv_command_node(mpv_handle *ctx, mpv_node *args, mpv_node *result)`
- [ ] `int mpv_command_node_async(mpv_handle *ctx, uint64_t rep

[2022-07-14 13:46] hudec117 commented on #51
Support for the latest libmpv DLL will be in version 2!

[2022-07-14 15:41] mysteryx93 commented on #51
What other features are you planning for v2?

[2022-07-15 09:42] hudec117 commented on #51
https://github.com/users/hudec117/projects/2/views/1

You can also look here for the current changes https://github.com/hudec117/Mpv.NET-lib-/pull/53

[2022-10-10 05:12] solaris-83 commented on #37
Apparently this won't be fixed. Before moving to another player, is there a known workaround? In my application I have to create many instances but not being able to dispose them is leading my application to crash.

[2022-10-11 07:20] DJSures commented on #52
Disabling GDI Scaling would break the rest of the application. If GDI
Scaling is the culprit, then the DPIx and DPIy are not considered for the
video panel size.

On Tue, Jul 5, 2022 at 5:23 AM Aurel Hudec ***@***.***> wrote:

[2022-10-11 08:14] DJSures commented on #52
I'm using mpv-1.dll version 2.0.0.0 for 32-bit. See attached image.
[image: image.png]

On Mon, Jul 4, 2022 at 4:09 PM Aurel Hudec ***@***.***> wrote: